@media (max-width: 1440px) {
    .surfer__title {
        font-size: 22px;
    }

    .about__title,
    .youwillget__title,
    .acheivements__title,
    .galery__title,
    .blog__title,
    .team__title,
    .pricing__title,
    .contact__title {
        margin-bottom: 50px;
    }

    .acheivements__image img {
        max-width: 100%;
    }

    .acheivements__inner {
        max-width: 80%;
    }

    .galery {
        padding: 120px 0;
    }

    .galery__filter {
        justify-content: center;
    }

    .galery__btn {
        padding: 60px 0 40px;
    }

    ul.galery__content {
        justify-content: center;
        margin-right: 0;
        margin-bottom: 50px;
    }

    .galery__item {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .galery__item img {
        max-width: 250px;
        width: 100%;
        height: 280px;
        object-fit: cover;
    }

    .galery__add {
        margin-bottom: 60px;
    }

    .blockquote {
        padding: 50px 0;
        margin-bottom: 100px;
    }

    .video__link {
        height: 400px;
    }

    .blog__item {
        min-height: 600px;
    }

    .blog__inner {
        min-height: 600px;
    }

    .blog__heading {
        max-width: 450px;
        font-size: 36px;
    }

    .team__item {
        max-width: 31%;
        width: 100%;
    }

    .pricing__item {
        width: 31%;
    }

    .contact__form {
        max-width: 50%;
    }

    .social__item:not(:last-child) {
        margin-right: 25px;
    }
}

@media(max-width: 1200px) {

    .about,
    .acheivements,
    .youwillget,
    .team,
    .pricing,
    .map,
    .social,
    .contact {
        padding: 120px 0 100px;
    }

    .title {
        font-size: 40px;
        margin-bottom: 70px;
    }

    .title::after {
        font-size: 56px;
        color: #00B2A0;
        bottom: -30px;
        margin-left: -2px;
    }

    .surfer__title span {
        font-size: 150px;
    }

    .acheivements__title {
        text-align: center;
    }

    .acheivements__inner,
    .acheivements__text,
    .acheivements__title {
        max-width: 100%;
    }

    .acheivements__image {
        display: none;
    }

    .youwillget__items {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
    }

    .youwillget__item {
        max-width: 440px;
    }

    .youwillget__item:not(:last-child) {
        margin-right: 40px;
        margin-bottom: 40px;
    }

    .contact__notes {
        margin-bottom: 80px;
    }

}

@media (max-width: 992px) {
    .logo {
        position: relative;
        top: 0;
        z-index: 3;
    }

    .surfer__icon {
        margin-bottom: 50px;
    }

    .menu {
        margin-left: auto;
        justify-content: space-between;
        padding: 35px 40px 5px;
        margin: -50px -15px 0;
    }

    .menu__btn {
        display: block;
        color: #0D302C;
        background-color: transparent;
        border: none;
        padding: 0;
        width: 70px;
        position: relative;
        z-index: 3;
    }

    .menu__list {
        transform: translateY(-200%);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-color: #0D302C;
        display: block;
        text-align: center;
        transition: all .5s ease-out;
    }

    ul.menu__list {
        padding: 90px 0px 10px;
    }

    .menu__list li:not(:last-child) {
        margin-right: 0;
    }

    .menu__list.menu__list--active {
        transform: translateY(0%);
    }

    .menu__link {
        display: block;
        padding: 15px 0;
    }

    .menu__link:hover {
        border: none;
        padding: 15px;
        font-weight: 600;
        letter-spacing: 1.3px;
    }

    .about,
    .youwillget,
    .acheivements,
    .galery,
    .team,
    .pricing,
    .map,
    .social,
    .contact {
        padding: 80px 0 60px;
    }

    .about__text p:nth-child(odd) {
        margin-right: 0;
    }

    .about__text p:nth-child(even) {
        order: 1;
    }

    .about__text p {
        padding: 0 25px 25px;
        margin-right: 0;
        max-width: 1110px;
        text-align: justify;
    }

    .youwillget__items {
        display: block;
        margin-bottom: 70px;
    }

    .youwillget__item {
        margin-bottom: 50px;
        max-width: 1000px;
        text-align: justify;
        padding: 0 25px;
    }

    .youwillget__item:not(:last-child) {
        margin-right: 0;
    }

    .youwillget__item-title {
        font-size: 22px;
        display: block;
        max-width: 100%;
        padding-top: 15px;
    }

    .youwillget__experience {
        display: block;
        padding: 25px;
    }

    ul.experience__info {
        width: 100%;
        margin-bottom: 50px;
    }

    .experience__text {
        max-width: 1000px;
    }

    .blockquote {
        margin-bottom: 60px;
    }

    .blockquote__cite {
        font-size: 16px;
        font-weight: 400;
    }

    .blog__item {
        min-height: 400px;
    }

    .blog__inner {
        min-height: 400px;
    }

    .social__item {
        margin-bottom: 35px;
    }

    .video {
        margin-bottom: 100px;
    }

    .pricing__items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .pricing__item {
        max-width: 360px;
        width: 100%;
        margin-bottom: 50px;
    }

    .pricing__items .pricing__item {
        margin-right: 10px;
    }

    .footer {
        padding-top: 30px;
        padding-bottom: 25px;
    }
}

@media (max-width: 768px) {

    .about,
    .youwillget,
    .acheivements,
    .galery,
    .video,
    .team,
    .pricing,
    .map,
    .social,
    .contact {
        padding: 60px 0 40px;
    }

    .video {
        margin-bottom: 60px;
    }

    .surfer__title span {
        font-size: 90px;
    }

    .title {
        font-size: 32px;
        margin-bottom: 60px;
    }

    .title::after {
        font-size: 36px;
        color: #00B2A0;
        bottom: -16px;
        margin-left: -3px;
    }

    .about__title,
    .youwillget__title,
    .contact__title {
        padding: 0 10px;
    }

    .galery__title {
        margin-bottom: 40px;
    }

    .galery__btn {
        padding: 30px 0 30px;
    }

    .galery__add {
        margin-bottom: 60px;
    }

    .contact__btn {
        padding: 15px 76px;
        display: block;
        margin: 0 auto;
    }

    .contact__info {
        flex-wrap: wrap;
    }

    .contact__form {
        max-width: 100%;
        width: 100%;
        margin-right: 0;
        margin-bottom: 60px;
    }

    .contact__notes {
        width: 100%;
        padding: 50px 25px 20px;
        margin-bottom: 100px;
    }

    .numbers__item {
        width: 50%;
        margin-bottom: 25px;
        font-size: 45px;
    }

    .blog__content {
        top: 30%;
    }

    .blog__heading {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .blog ul.slick-dots {
        margin-bottom: 30px;
    }

    .blog__item {
        min-height: 300px;
    }

    .blog__inner {
        min-height: 300px;
    }

    .team__items {
        justify-content: center;
    }

    .team__item:not(:last-child) {
        margin-bottom: 50px;
    }

    .team__item,
    .team__item img {
        max-width: 250px;
        width: 100%;
    }

    .team__items .team__item:nth-child(1) {
        margin-right: 10px;
    }

    .map__image {
        height: 400px;
        object-fit: cover;
    }

    .social__item {
        margin-bottom: 35px;
    }
}

@media (max-width: 576px) {

    .about,
    .youwillget,
    .acheivements,
    .galery,
    .video,
    .blog,
    .team,
    .pricing,
    .map,
    .social,
    .contact {
        padding: 36px 0 20px;
    }

    .title {
        padding: 0 10px;
        font-size: 28px;
    }

    .surfer__title {
        font-size: 16px;
    }

    .surfer__title span {
        font-size: 60px;
    }

    .surfer__icon {
        padding: 36px;
    }
    .youwillget__item-title {
        display: block;
        min-height: 0;
        margin-bottom: 15px;
        padding-left: 0;
        font-size: 18px;
        text-align: center;
    }

    .youwillget__item-title::before {
        position: relative;
        display: block;
        margin: 0 auto 25px;
        transform: translateY(0);
    }

    .galery__filter {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        text-align: left;
    }

    .galery__item {
        margin-right: 0;
    }

    .galery__item img {
        height: 200px;
    }

    .galery__add-link {
        font-size: 16px;
        padding: 12px 16px;
    }

    .galery__btn {
        padding: 10px 0 20px;
        font-size: 22px;
    }

    .blockquote__phrase,
    .blockquote__cite {
        text-align: left;
    }

    .blockquote__phrase {
        font-size: 26px;
    }

    .blockquote__cite {
        font-size: 14px;
    }

    .contact__btn {
        padding: 12px 50px;
        font-size: 16px;
    }

    .pricing__items .pricing__item {
        margin-right: 0;
    }

    .pricing__item {
        margin-bottom: 36px;
    }

    .pricing__item li {
        margin-bottom: 16px;
    }

    .pricing__name {
        margin-bottom: 36px;
        font-size: 24px;
    }

    .numbers__item {
        font-size: 40px;
    }

    .contact__notes-text {
        margin-bottom: 40px;
    }

    .contact__notes {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .social__list li:not(:last-child) {
        margin-right: 0;
    }

    .social__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}