body {
    min-height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.6px;
    background-color: #fff;
}

/* font-family: 'Raleway', sans-serif;
*/
.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 100px;
    text-transform: uppercase;
}

.title::after {
    content: "/";
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 72px;
    line-height: 1.18;
    color: #00B2A0;
    bottom: -32px;
    margin-left: 2px;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 35px;
    transition: background-color 0.3s linear;
}

.header--fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #0D302C;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.header.active {
    background: #f38181;
}

.header::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
    position: absolute;
    background-image: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.595076) 31.64%, rgba(51, 51, 51, 0.222586) 74.35%, rgba(51, 51, 51, 0) 99.87%);
}

.header__top-inner {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 264px;
    position: relative;
    /* margin-right: auto; */
}

.logo {
    display: block;
}

.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.header__logo {
    position: absolute;
    left: 0;
}

.menu__btn {
    display: none;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu__list li:not(:last-child) {
    margin-right: 35px;
}

.menu__link {
    padding: 0 5px 5px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    border-bottom: 1px solid transparent;
    transition: border-color .3s;
}

.menu__link:hover,
.menu__link:active {
    padding-bottom: 5px;
    border-color: #00B2A0;
}

.surfer {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.surfer:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 55vh;
    background-image: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.595076) 31.64%, rgba(51, 51, 51, 0.222586) 74.35%, rgba(51, 51, 51, 0) 99.87%);
}

.surfer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.surfer__title {
    margin: auto 0;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    text-align: center;
}

.surfer__title span {
    display: block;
    font-size: 200px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #0D302C;
}

.surfer__icon {
    margin-bottom: 110px;
    display: block;
    width: 50px;
    height: 50px;
    transition: transform 0.3s linear;
}

.surfer__icon:hover {
    transform: scale(1.1);
}

.youwillget__item-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    display: block;
    text-align: center;
    color: black;
}

.about {
    padding: 190px 0 170px;
}

.about__text {
    display: flex;
    flex-wrap: wrap;
}

.about__text p {
    max-width: 480px;
    padding-bottom: 29px;
}

.about__text p:nth-child(odd) {
    margin-right: 120px;
}

.youwillget {
    background-color: #F8F8F8;
    padding: 195px 0 173px 0;
}

.youwillget__items {
    display: flex;
    margin-bottom: 102px;
}

.youwillget__item {
    max-width: 350px;
}

.youwillget__item:not(:last-child) {
    margin-right: 45px;
}

.youwillget__item-title {
    max-width: 200px;
    padding-left: 63px;
    position: relative;
    min-height: 60px;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: left;
}

.youwillget__item-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

.youwillget__item-title--living::before {
    background-image: url('../images/sun-icon.svg');
}

.youwillget__item-title--insurance::before {
    background-image: url('../images/plane-icon.svg');
}

.youwillget__item-title--learning::before {
    background-image: url('../images/surf-icon.svg');
}

.youwillget__experience {
    display: flex;
    justify-content: space-between;
}

.experience__text {
    max-width: 600px;
}

.experience__text p {
    padding-bottom: 30px;
}

.experience__info-item {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.experience__info-item span {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    margin-left: 10px;
}

.experience__image {
    display: flex;
}

.experience__info-item:nth-child(2) {
    width: 95%;
}

.experience__info-item:nth-child(1) {
    width: 85%;
}

.experience__info-item:nth-child(3) {
    width: 99%;
}

.acheivements {
    position: relative;
    padding: 200px 0 118px;
}

.acheivements__inner {
    text-align: left;
    max-width: 550px;
}

.acheivements__title {
    text-align: left;
    max-width: 570px;
}

.acheivements__text {
    max-width: 507px;
}

.acheivements__text p {
    margin-bottom: 30px;
}

.acheivements__image {
    position: absolute;
    max-width: 50%;
    width: 100%;
    min-height: 850px;
    top: 0;
    right: 0;
    object-fit: cover;
}

.galery {
    padding: 200px 0;
}

ul.galery__filter {
    display: flex;
}

.galery__btn {
    background-color: transparent;
    font-size: 24px;
    line-height: 1.17;
    font-weight: 400;
    border: none;
    padding: 113px 0 43px;
    margin-right: 20px;
    color: #242121;
    outline: transparent;
    text-transform: uppercase;
}

.galery__btn:focus {
    transform: scale(1.1);
}

.galery__btn:hover {
    color: #00B2A0;
    cursor: pointer;
}

.galery .mixitup-control-active {
    color: #00B2A0;
}

ul.galery__content {
    display: flex;
    flex-wrap: wrap;
    margin-right: -40px;
    margin-bottom: 10px;
}

.galery__item {
    margin-right: 40px;
    margin-bottom: 40px;
    background-color: #333;
}

.galery__item img {
    width: 100%;
    transition: opacity 0.3s linear;
}

.galery__item:hover img {
    opacity: 0.3;
}

.galery__add {
    display: flex;
    margin-bottom: 208px;
    justify-content: center;
}

.galery__add-link {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    padding: 20px 95px;
    border: 1px solid #C4C4C4;
    color: #242121;
    background-color: #fff;
    transition: opacity 0.8s ease-out;
}

.galery__add-link:hover {
    background-color: #00B2A0;
    color: #fff;
    transition: background-color 0.8s ease-in;
}

.blockquote {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    padding: 74px;
    margin-bottom: 190px;
}

.blockquote__phrase {
    width: 100%;
    max-width: 900px;
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.1;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.blockquote__cite {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
    text-align: right;
}

.video {
    margin-bottom: 200px;
}

.video__link {
    display: block;
    background-image: url('../images/board-sea.jpg');
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

ul.numbers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
}

.numbers__item {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.17;
    margin-bottom: 5px;
    color: #01353E;
}

.numbers__item span {
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
    color: #242121;
    text-align: center;
}

.blog {
    padding-top: 120px;
    padding-bottom: 95px;
}

.blog__title,
.pricing__title,
.team__title,
.contact__title {
    margin-bottom: 200px;
}

.blog__items {
    position: relative;
}

.blog__item {
    position: relative;
    width: 100%;
    min-height: 800px;
}

.blog__item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    background-color: rgba(36, 33, 33, 0.5);
}

.blog__inner {
    position: relative;
    min-height: 800px;
}

.blog__content {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.blog__heading {
    display: block;
    max-width: 600px;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    transition: color 0.3s linear;
}

.blog__heading:hover {
    color: #00B2A0;
}

.blog__text {
    max-width: 410px;
    color: #fff;
}

/*Dots*/
.blog ul.slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    margin-bottom: 80px;
    list-style: none;
    transform: translateX(-50%);
}

.blog .slick-dots li:not(:last-child) {
    margin-right: 15px;
}

.blog .slick-dots button {
    width: 15px;
    height: 15px;
    padding: 0;
    font-size: 0;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease-out 0s;
    cursor: pointer;
}

.blog .slick-dots button:hover,
.blog .slick-dots li.slick-active button {
    background-color: #00B2A0;
}

.team {
    padding: 200px 0 200px;
}

.team__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.team__name {
    padding: 25px 0 5px;
    font-size: 18px;
    line-height: 1.2;
}

.pricing {
    padding: 200px 0 200px;
    background-color: #F8F8F8;
}

.pricing__items {
    display: flex;
    justify-content: space-between;
}

.pricing__item {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    min-height: 577px;
    background-color: #fff;
    padding: 45px 33px 45px;
}

.pricing__item li {
    margin-bottom: 20px;
    font-weight: 400;
}

.pricing__name,
.pricing__value {
    text-align: center;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    color: #01353E;
}

.pricing__name {
    margin-bottom: 75px;
}

.pricing__value {
    margin-top: auto;
}

.pricing__value span {
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    vertical-align: middle;
}

.map {
    padding-top: 200px;
    padding-bottom: 150px;
}

.map__inner {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}

.map__image img {
    width: 100%;
}

.contact__info {
    display: flex;
    justify-content: space-between;
}

.contact__form {
    max-width: 570px;
    width: 100%;
    margin-right: 30px;
}

.contact__text,
.contact__textarea {
    border: none;
    display: block;
    width: 100%;
    border-bottom: 2px solid #DADADA;
    color: #242121;
    font-size: 18px;
    font-weight: 400;
}

.contact__text {
    margin-bottom: 40px;
    height: 40px;
}

.contact__text:nth-child(2) {
    margin-bottom: 53px;
}

.contact__textarea {
    resize: none;
    min-height: 156px;
    margin-bottom: 60px;
}

.contact__text::placeholder,
.contact__textarea::placeholder {
    color: #00B2A0;
    font-size: 18px;
    line-height: 1.2;
    max-width: 260px;
    font-weight: 400;
    padding: 0 20px 20px 0;
}

.contact__text:focus::-webkit-input-placeholder,
.contact__textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

.contact__text:focus,
.contact__textarea:focus {
    outline: transparent;
    border-bottom: 2px solid #242121;
}

.contact__btn {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 20px 113px;
    border: 1px solid #C4C4C4;
    background-color: #fff;
    cursor: pointer;
}

.contact__btn:hover {
    background-color: #00B2A0;
    color: #fff;
    transition: background-color .8s ease-in;
}

.contact__notes {
    width: 50%;
    background-color: #F8F8F8;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    font-style: normal;
    padding: 50px 50px 0;
    margin-bottom: 200px;
}

.contact__notes-text {
    margin-bottom: 65px;
    max-width: 330px;
}

.contact__notes-text span {
    display: block;
}

.contact__notes-text a {
    color: #000;
}

.contact__notes-text a:hover {
    color: #00B2A0;
    transition: color .5s ease-out 0s;
}

.social {
    padding-top: 100px;
    padding-bottom: 185px;
}

.social__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social__link {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #242121;
    transition: color .5s ease-out 0s;
}

.social__link:hover {
    cursor: pointer;
    color: #00B2A0;
}

.social__list li:not(:last-child) {
    margin-right: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00B2A0;
    padding: 70px 0 65px;
}